@model IEnumerable<Project_HNClone.Models.Comments>

@{
  ViewData["Title"] = "Index";
}
<br />
<table class="table" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td style="font-size:10pt; border-top:none !important; padding:4px">
          <a href="" style="text-decoration:none; color:inherit;">
            @Html.DisplayFor(modelItem => item.Owner.Name)
          </a>
          <span style="font-size:8pt; color:grey;">
            (<a href="" style="color:grey">@Html.DisplayFor(modelItem => item.PublishDate)</a>)
          </span>
        </td>
      </tr>
      <tr>
        <td style="font-size:9pt; border-top:none !important; color:gray; padding:4px">
          @Html.DisplayFor(modelItem => item.Owner.Name)
          @Html.DisplayFor(modelItem => item.PublishDate)
          @Html.DisplayFor(modelItem => item.Story.PostUrl)
        </td>
      </tr>
    }
  </tbody>
</table>
