@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Newest";
}

<br />
<div>
    <table class="table" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            @foreach (var item in ViewBag.OnePageOfStories)
            {
                <tr>
                    <td style="font-size:11pt; border-top:none !important; padding:4px">
                        <a href="" style="text-decoration:none; color:inherit;">
                            @item.name
                            @item.content
                        </a>
                        <span style="font-size:8pt; color:grey;">
                            (<a href="@item.postURL" style="color:grey">@item.postURL)</a>)
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:9pt; border-top:none !important; color:gray; padding:4px">
                        @item.creatorName
                        @item.publishDate
                        <!--Html.DisplayFor(modelItem => item.Comment)-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="text-align: center">
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfStories, page => Url.Action("Newest", new { page }))
</div>


