@model IEnumerable<Project_HNClone.Data.Story>


@{
  ViewData["Title"] = "Newest";
}
<br />
<table class="table" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td style="font-size:11pt; border-top:none !important; padding:4px">
          <a href="" style="text-decoration:none; color:inherit;">
            @Html.DisplayFor(modelItem => item.name)
            @Html.DisplayFor(modelItem => item.content)
          </a>
          <span style="font-size:8pt; color:grey;">
            (<a href="" style="color:grey">@Html.DisplayFor(modelItem => item.postURL)</a>)
          </span>
        </td>
      </tr>
      <tr>
          <td style="font-size:9pt; border-top:none !important; color:gray; padding:4px">
              @Html.DisplayFor(modelItem => item.creatorName)
              @Html.DisplayFor(modelItem => item.publishDate)
              <!--Html.DisplayFor(modelItem => item.Comment)-->
            </td>
          </tr>
        }
      </tbody>
    </table>
